<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
     <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/styleform.css}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d2598eec4b.js" crossorigin="anonymous"></script>
   
    
</head>

<body>
    <div class="barra-titulo"><i class="fa fa-file-invoice"></i> <samp>Sof-Inventario</samp> </div> 
    <div class="contenedor">
        <div class="bar-menu">
           <div class="barmenu-conte">
              <ul>
                   <li><a th:href="@{/menu}"><i class="fa fa-file-export"></i> Inicio</a></li>
                  <li><a th:href="@{/menu/formproducto}"><i class="fa fa-file-export"></i> Productos</a></li>

                  <li>    <a th:href="@{/menu/formprove}"><i class="fa fa-layer-group"></i> Proveedores</a></li>
                  <li> <a th:href="@{/menu/formclientes}"><i class="fa fa-file-export"></i> Clientes</a></li>
                  <li> <a th:href="@{/menu/formmovimientos}"><i class="fa fa-file-export"></i> Movimientos</a></li>
                  <li><a href="#" class="active"><i class="fa fa-file-export"></i> Usuarios</a></li>
              </ul>
              <br>
             <form th:action="@{/logout}" method="post">
                 <input type="submit" value="Cerrar Sesion"/>
               </form>
           </div>
        </div>
        <div id="con-form" class="con-form">
            <h6 th:inline="text">Hola [[${#httpServletRequest.remoteUser}]]!</h6>
            <div class="ventana">
	 	     <h3>Registrar Productos</h3>
         </span>
	     <div class="ventana-main">
         
        <form class="crud-form row g-3">
          <div class="col-md-6">
            <label for="inputId" class="form-label">Id:</label>
            <input type="number" class="form-control" id="inputId" name="id" disabled>
          </div>
          <div class="col-md-6">
            <label for="inputStock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="inputStock" name="existencia" required>
          </div>
          <div class="col-12">
            <label for="inputNombre" class="form-label">Nombre Producto</label>
            <input type="text" class="form-control" id="inputNombre" name="name" required>
          </div>
          <div class="col-md-4">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="inputPrecio" name="precio" required>
          </div>
          <div class="col-md-4">
            <label for="inputCategoria" class="form-label">Categoria</label>
            <select id="inputCategoria" class="form-select" name="cat_id" required>
            <option value="0"selected>Elegir Categoria</option>
            <option value="8">Discos Duros</option>
            <option value="4">Impresoras</option>
            <option value="6">Laptops</option>
            <option value="7">Memorias</option>
            <option value="3">Monitores</option>
            <option value="1">Mouse</option>
            <option value="5">Tarjetas Madre</option>
            <option value="2">Teclados</option>
            </select>
          </div>
            <div class="col-md-4">
            <label for="inputProveedor" class="form-label">Proveedor</label>
            <input type="text" class="form-control" id="inputProveedor" name="prove_id" required>
          </div>
          
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
         
	    </div>
	    

      <article>
        <h2>Ver Productos</h2>
        <table class="crud-table table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Existencia</th>
                    <th>Precio</th>
                    <th>Id_categoria</th>
                    <th>Id_provedor</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>  </tbody>
        </table>
    </article>
    
  </section>
  
  <template id="crud-template">
      <tr>
      <td class="id"></td>
      <td class="nom"></td>
      <td class="exis"></td>
      <td class="preci"></td>
      <td class="idcat"></td>
      <td class="idprove"></td>
      <td> <button class="edit .btn-primary">Editar</button>  </td>
      <td> <button class="delete">Eliminar</button>    </td>
    </tr> 
  </template>
  
    </div>	



    <script>
      const d= document,
      $table= d.querySelector(".crud-table"),
      $form= d.querySelector(".crud-form"),
      $title= d.querySelector(".crud-title"),
      $template= d.getElementById("crud-template").content,
      $fragment= d.createDocumentFragment();

      const getAll=async()=>{
        try {
         let res = await fetch("http://localhost:8080/products/"),
         json = await res.json();

         if(!res.ok) throw { status: res.status, statusText: res.statusText};
         
         json.forEach(el=>{
             $template.querySelector(".id").textContent=el.id;
             $template.querySelector(".nom").textContent=el.name;
             $template.querySelector(".exis").textContent=el.existencia;
             $template.querySelector(".preci").textContent=el.precio;
             $template.querySelector(".idcat").textContent=el.catId;
             $template.querySelector(".idprove").textContent=el.proveId;

             $template.querySelector(".edit").dataset.id=el.id;
             $template.querySelector(".edit").dataset.name=el.name;
             $template.querySelector(".edit").dataset.exis=el.existencia;
             $template.querySelector(".edit").dataset.preci=el.precio;

             $template.querySelector(".delete").dataset.id=el.id;

             let $clone = d.importNode($template,true);
             $fragment.appendChild($clone);

             $table.querySelector("tbody").appendChild($fragment);
         });

        } catch (error) {
            let message = err.statusText|| "ocurrio un error";
            $table.insertAdjacentHTML("afterend",`<p><b>Errorr: ${err.status}: ${message}</b></p>`);
        }  
      }

      d.addEventListener("DOMContentLoaded",getAll);

    
      d.addEventListener("submit", async e=>{
        if(e.target===$form){
          e.preventDefault();

          if(!e.target.id.value){
            //create POST 
             try {
                 let options={
                     method: "POST",
                     headers: {
                      "Content-type":"application/json; charset=utf-8"
                     },
                     body: JSON.stringify({
	                  id:"",
                      name: e.target.name.value, 
                      existencia: e.target.existencia.value,
                      precio: e.target.precio.value,
                      catId: e.target.cat_id.value, 
                      proveId: e.target.prove_id.value
                     })
                 },
              res = await fetch("http://localhost:8080/products/", options),
              json = await res.json();
             
              if(!res.ok) throw { status: res.status, statusText: res.statusText};
              
              location.reload();
              
             } catch (err) {
              let message = err.statusText|| "ocurrio un error";
              $form.insertAdjacentHTML("afterend",`<p><b>Error: ${err.status}: ${message}</b></p>`);
                 
             }
          }else{
            // update PUT
             try {
                 let options={
                     method: "PUT",
                     headers: {
                      "Content-type":"application/json; charset=utf-8"
                     },
                     body: JSON.stringify({
	                  id:e.target.id.value,
                      name: e.target.name.value, 
                      existencia: e.target.existencia.value,
                      precio: e.target.precio.value,
                      catId: e.target.cat_id.value, 
                      proveId: e.target.prove_id.value
                      
                     })
                 },
              res = await fetch("http://localhost:8080/products/", options),
              json = await res.json();
              
              if(!res.ok) throw { status: res.status, statusText: res.statusText};

              location.reload();

             } catch (err) {
              let message = err.statusText|| "ocurrio un error";
              $form.insertAdjacentHTML("afterend",`<p><b>Error: ${err.status}: ${message}</b></p>`);
                 
             }
          }
        }
      });

      d.addEventListener("click", async e=>{
        if(e.target.matches(".edit")){
         // $title.textContent="Editar Producto"  ;
          $form.existencia.value= e.target.dataset.exis;
          $form.name.value= e.target.dataset.name;
          $form.id.value= e.target.dataset.id;
          $form.precio.value= e.target.dataset.preci;
         }
         if(e.target.matches(".delete")){
          let isDelete= confirm(`¿Estas segurudo de eliminar el id: ${e.target.dataset.id}`);
          
          if(isDelete){
             //Delete
          try {
                   let options={
                       method: "DELETE",
                       headers: {
                        "Content-type":"application/json; charset=utf-8"
                       }
                   },
                res = await fetch(`http://localhost:8080/products/${e.target.dataset.id}`, options),
                json = await res.json();
                
              location.reload();
              
             // if(!res.ok) throw { status: res.status, statusText: res.statusText};
              //console.log(res.status);

              
 
              } catch (err) {
              let message = err.statusText|| "ocurrio un error";
             // alert(`Error: ${err.status}: ${message}`);
                   
              } 

           }
             location.reload();
          }
          
      })
  </script>
        </div>
    </div>
</body>

</html>

    
</body>
</html>